header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../img/present.jpeg);
    background-size: cover;
    height: 38vh;
    color: white;

    h1 {
        img {
            margin: 8px 15px;
            max-width: 100px;
            justify-content: start;
            left: 6vw;
        }
    }

    nav {
        margin: 8px 15px;

        li {
            display: inline;
            text-align: center;
            justify-content: end;
            padding: 5px;
        }
    }

}