header {
    display: flex;
    background-image: url(../img/present.jpeg);
    background-size: cover;
    height: 38vh;
    color: white;

    h1 {
        img {
            max-width: 100px;
            position: absolute;
            left: 6vw;
        }
    }

    


}